/**
 * Different box
 */
.box{
	border: 1px solid #eee;
	box-shadow: 0px 2px 1px #d0d5de;
	background: #fff;

	margin-bottom: 32px;

	padding: 16px;

	//box inside a box
	.box{
		margin: 0;
	}

	//box elements
	//or elements inside box
	.__heading{
		text-align: center;
		h1, h2, h3{
			margin-top: 15px;
			font-size: 18px;
			line-height: 24px;
			text-transform: uppercase;
		}
	}


	//padding
	//padding-no by default
	&--padding-narrow{
		padding: 8px;
	}
	&--padding-normal{
		padding: 16px;
	}
	&--padding-wide{
		padding: 24px;
	}



	//bg
	//bg-white by default
	&--bg-dark{
		background: #F5F3F7;
	}
}



.section-padding{
	padding-top:32px;
	padding-bottom:32px;
}