/**
 * Breadcrumb
 */
.breadcrumb{
	margin-top: 8px;
    margin-left: 0;		
	li{
		&.active{
			color: $green;
		}
	}
}
	//breadcrumb in single property
	.single,
	.single-estate_property{
		.breadcrumb{
			margin-top: 0px;
			margin-left: -16px;
		}
	}