/**
 * Button
 *
 * 
 */
.btn{
	box-shadow:none;

}


	/**
	 * Size Variations
	 *
	 * @note : using cascading html body #all_wrapper to
	 * avoid using !important to force rules.
	 */
	html body #all_wrapper .btn{		
		&--small{
			padding: 8px 16px;
		}
		&--medium{
			padding: 16px 32px;
		}
		&--large{
			padding: 16px 32px;
		}
		&--fullwidth{
			display: block;
			width: 100%;
			padding: 16px 32px;
		}

	}

	/**
	 * Color Variations
	 *
	 * @note : using cascading html body #all_wrapper to
	 * avoid using !important to force rules.
	 */
	html body #all_wrapper .btn{
		&--green{
			background-color: $green;
			color: #fff;
		}
	}
	
	html body #all_wrapper .btn{
		&--green:after{
			content:'shuvo';
			color:red;
		}
	}

	/**
	 * Oriantation
	 *
	 * @note : using cascading html body #all_wrapper to
	 * avoid using !important to force rules.
	 */
	html body #all_wrapper .btn{		
		&--rounded{
			border-radius:30px;
		}

		&--no-shadow{
			box-shadow: none;
		}
	}

