/**
 * Forms
 */

.input-number--with-buttons{
	position: relative;

	margin-top: 13px;

	input,
	label{
		display: inline-block;
		float: left;
		width: 3em;
	}

	input{
		margin:0;
		padding:0;
		text-align: center;

		height: 25px!important;
		width: 25px!important;
	}

	.btn{
		position: absolute;
		top: 0;
		right:32px;

		//hide font
		text-indent: -9999px;

		width: 20px;
		height: 20px;
		padding: 0;
		border-radius: 100%;

		background-image: url('../images/sprite.png');
		background-repeat: no-repeat;
		background-position: -3px -269px;

		color: #fff;

		@include media-breakpoint-up(sm){
			right: 0px;
		}

		&--plus{
			right: 0;
			z-index: 999;
			background-position: -3px -297px;
			@include media-breakpoint-up(sm){
				right: -20px;
			}
		}
	}
}

/**
 * Icons with form elements
 */
.calendar_icon:after{
	background-image: url('../images/calendar_icon.png');
}
#guest_no_shortcode:after, 
#guest_no_mobile:after, 
#booking_guest_no_wrapper:after, 
#guest_no_widget:after, 
#guest_no:after{
	background-image: url('../images/icon_guest.png');
}