$blue : #0e1930;
$yellow : #ff9600;
$green : #119a11;
$gray : #606060;
$dark : #333333;
$white: #fff;
$gray-light: #eee;

$orange : #ff5900;

$blue-alt : #0085ca;

$red : #ec4652;

$green-alt : #00a849;


$font-pt-sans : 'PT Sans', sans-serif;



/**
 * Media breakpoints
 */

$medium-up: "only screen and (min-width : 992px)";
$desktop: "only screen and (min-width : 992px)";

/**
 * Bootstrap Breakpoints
 * 
 */
$grid-breakpoints: (
  xs: 0,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px
);

