/**
 * Footer
 *
 * 
 */


/**
 * Pre-Footer Widgets and Block
 *
 *
 *
 *
 * 
 */
#pre-footer{
	display: none;
	padding: 32px 0;
	@include media-breakpoint-up(sm){
		display: block;
		padding: 32px 16px;
	}

	.widget{
		padding: 0 15px;
		text-align: center;
		margin-bottom: 16px;

		@include media-breakpoint-up(sm){
			width: 20%;
			float: left;
			text-align: left;
			margin-bottom: 0;
		}
	}
}
#pre-footer--mobile{
	display: block;
	margin-bottom: 32px;
	padding: 0 32px;

	@include media-breakpoint-up(sm){
		display: none;
	}

	//slider
	.slick-slide img{
		margin: 16px auto;
	}
	.slick-prev{
		left: -8px;
	}
	.slick-next{
		right: -8px;
	}
	.slick-next:before, 
	.slick-prev:before{
		color: gray;
	}
}


/**
 * Footer Newsletter Sidebar
 */
#footer-newsletter{
	background: rgba(0,0,0,.2);
	border-bottom: 1px solid rgba(255, 255, 255, .15);	
	padding: 0 32px;

	.content-wrap{
		padding: 32px 32px 120px 32px;
		background: url('../images/mail-box.png') no-repeat center bottom;
		

		@include media-breakpoint-up(sm){
			//desktop
			padding: 32px 0 32px 200px;
			background: url('../images/mail-box.png') no-repeat bottom left;
		}
	}

	.widget_mc4wp_form_widget{
		
	}

	.newsletter-subscription-form-fields{
		position: relative;

		.__email{
			//@mobile first
			width: 100%;
			border-radius:0;
			padding: 8px 16px;
			border: none;
			font-size: 12px;
			
			//@desktop
			@include media-breakpoint-up(sm){
				padding: 24px 32px;
			    font-size: 14px;
			    font-weight: bold;

			    display: block;
			    
			    
			    border-radius: 100px;

			    background: #CED2D6;
			    color: #333;
			}
		}
		.__submit{
			//@mobile first
			width: 100%;
			margin-top: 8px;
			border-radius: 0;

			//@desktop
			@include media-breakpoint-up(sm){
				margin-top:0;

				position: absolute;
				top: 13px;
				right: 13px;

				width: 160px;
				padding: 14px;
				border-radius: 100px;
				
				text-transform: uppercase;
				font-size: 12px;
				font-weight: bold;
			}		

		}
	}
}

/**
 * Footer Widgets
 *
 *
 * 
 */
#footer-widget-area{
	color: #fff;
	@include media-breakpoint-down(md){
		margin-top: 32px;
		padding-bottom:0;
	}
	ul li a{
		color: #fff;
	}
	.widget-title-footer{
		color: #fff;
	}
}


/**
 * Footer Bottom
 *
 *
 * 
 */
.footer-bottom{
	padding: 0;
    max-width: 1200px;
    width: 100%;
    margin: 32px auto;

    .__hr{
    	hr{
    		border-top: 1px solid rgba(255, 255, 255, .15);
    	}
    }
}
	.footer-bottom__left{
		.copyright{
			padding:0;
			font-size: 12px;
			font-weight: bold;
			@include media-breakpoint-up(sm){
				padding-top: 8px;
			}
		}
	}

	//Footer Bottom Right Sidebar	
	.footer-bottom-right-sidebar{
		margin-top: 16px;
		margin-left: -4px;
		margin-right: -4px;		

		@include media-breakpoint-up(sm){
			margin-top:0;
			
			text-align: right;
			float: right;
		}

		.widget_media_image{
			width: 20%;
			padding: 0 4px;
			float: left;
			@include media-breakpoint-up(sm){
				width: 4em;
			}
		}
	}




.sub_footer{
	background-color: transparent;
	color: $white;

	.sub_footer_content{
		border-top: 1px solid #4d5567;
		padding-top: 32px;
		padding-bottom: 32px;
	}
}


/**
 * Working with footer text
 */
.widget_text li:before, .widget_meta li:before, .widget_nav_menu li:before, .widget_pages li:before, .widget_rss li:before, .widget_text li:before{
	content: '';
	margin: 0
}
#colophon{
	@include media-breakpoint-down(md){
		padding-top:0;
	}
}
#colophon li a {
    text-transform: uppercase;
    font-weight:700;
    font-size:13px;
}
.textwidget {
    font-size: 13px;
    font-weight: bold;
}
#colophon .category_name a:hover{
    color:#119a11 !important;
}

/**
 * Hover on footer links
 * @overwrite to wprental
 */
body #colophon .widget-container li:hover, 
body #colophon .widget-container li:hover a{
	color: $yellow;
}