/**
 * Header
 */
.master_header,
.master_header.wide{
	background-color: $blue!important;
}
.navbar-fixed-top{
	background-color: $blue;
}

.header_wrapper{
	height: 100px;

	&.customnav{
		height: 100px;
	}
}

/**
 * Header Top Nav
 */
#topbarlogin:before,
#topbarregister:before{
	background-image: url('../images/header_icons--white.png')
}