/**
 * Access Nav
 */

#access{

	.menu{
		li{
			height: auto;
			a{
				padding: 38px 20px;
				font-family: $font-pt-sans;
				margin-left:0!important;
				margin-right:0!important;

				&:hover{
					color: $yellow !important;
					border-color: $yellow !important;
					
				}
			}

			//item with childred
			&.menu-item-has-children{
			}

			//menu item as button
			&.button--in-menu{
				a{
					padding: 10px 32px!important;
					border-radius: 32px;
					border: none;
					background: $yellow;

					&:hover{
						border-color: $yellow!important;
						border-radius: 32px!important;
						padding: 10px 32px!important;
						color: $white!important;
					}
				}
			}
		}
	}
	
}

/**
 * Submenu
 */
#access .menu .sub-menu{
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
}

/**
 * User Login/Logout Menu
 */
#access{
	.access__account-nav{
		 .menu_user_tools{
		 	padding: 0;
		 }
	}
}
.signuplink{
	&:hover{
		color: $yellow;
	}
}

#user_menu_open > a:hover i, 
#user_menu_open > a:focus i{
	color: $green;
}
.unread_mess_wrap_menu{
	background-color: $green;
}
.user_dashboard_links .user_tab_active i{
	color: $green;
}

/**
 * Mobile Menu and Mobile Trigger
 *
 *
 *
 * 
 */
.mobile-trigger-user:hover i, 
.mobile-trigger:hover i{
	color: $yellow;
}
.mobilemenu-close-user:hover, 
.mobilemenu-close:hover{
	color: $yellow;
}
.user_mobile_menu_list li:hover, 
.mobilex-menu li:hover{
	background-color: $yellow;
}


/**
 * Some utility classes
 *
 * 
 */
.menu-container--narrow{
	
}


/**
 * Misc Overwrites
 */
#access.has-user-login-menu{
	.access__nav{
		padding-right: 180px;
		.menu > li a{
			padding: 38px 8px;
		}
		.sub-menu{
			li a{
				padding: 0;
			}
		}
	}
}



.header_wrapper.header_type1.header_align_left #access{
	margin: 0px 0px 0px 300px;
}

//removing fullwidth submenu container
body #access ul li.with-megamenu>ul.sub-menu, 
body #access ul li.with-megamenu:hover>ul.sub-menu{
	overflow: hidden!important;
	width: auto!important;

	left: auto!important;
	right: auto!important;
}
//mega menu border
.mega_menu_border{
	border-color: #d2d2d2!important;
}

//menu with button
.hover_type_5 #access .menu > li.button--in-menu:hover>a{
	padding: 13px 32px!important;
	margin:0!important;
	border-bottom: 0!important;
}

// header access menu alignment
body .header_wrapper.header_type1.header_align_left #access{
	text-align: right;
	padding-right: 30px;
}