/**
 * Single Listing Page
 *
 * 
 */


/**
 * Social Share
 */
#social-share{
	&--desktop{
		display: none;
		@include media-breakpoint-up(sm){
			display: block;
		}
	}
	&--mobile{
		margin-bottom: 16px;
		//hide on big devices
		@include media-breakpoint-up(sm){
			display: none;
		}
		.prop_social{
			text-align: center;
		}
	}
}


//listing info
.listing-info {
    
    margin-top: 16px;

    @include media-breakpoint-up(sm){
    	//screens md, lg and xlg
    	margin-top: 0;
    	border: 1px solid #ddd;
    }

    .__heading{
    	overflow: hidden;
    	border-bottom: 1px solid #ddd;    
    	@include media-breakpoint-down(md){
			border-bottom: none;
    	}	
    }
    .__content{
    	padding: 16px 16px 21px 16px;
    	background: #fff;
    	@include media-breakpoint-down(md){
			padding: 16px 0;
    	}
    }
    //meta with icon blocks
	.__meta{
		list-style-type: none!important;
		margin-bottom: 16px;
		margin-left:-8px;
		margin-right:-8px;

		li{
			width: 33.33%;
		    float: left;
		    padding: 0 8px;
		    text-align: center;
		    .__inner{
		    	padding: 8px 4px;
		    	border: 1px solid #d2d2d2;
		    	background: #f5f5f5;
		    	height: 80px;
		    	&:before{
		    		content: '';
		    		display: block;

		    		width: 28px;
		    		height: 24px;
		    		background: url('../images/sprite.png') no-repeat -3px -39px;

		    		margin: 0 auto;
		    	}
		    }
		    //icon variations 
		    &.bedrooms{
		    	.__inner{
		    		&:before{
		    			background-position: -3px -67px;
		    		}
		    	}
		    }
		    &.bathrooms{
		    	.__inner{
		    		&:before{
		    			background-position: -3px -92px;
		    		}
		    	}
		    }		
		}

	}

	//Distances ul
	.__distances{
		margin-left:0;
		margin-bottom:16px;
		li{
			overflow: hidden;
			border: 1px solid #d2d2d2;
			margin-bottom: 8px;

			span{
				display: block;
				float: left;
				padding: 4px 8px;
				&:first-child{
					position: relative;
					width: 70%;
					padding-left: 48px;
					border-right: 1px solid #d2d2d2;
					&:before{
						content: '';
						display: inline-block;
						position: absolute;
						top:4px;
						left:8px;
						width: 35px;
						height: 100%;
						background-image: url('../images/sprite.png');
						background-repeat: no-repeat;
					}
				}
				&:last-child{
					width: 30%;					
					text-align: center;
					color: $green;
				}

				//icon variations
				&.market{
					&:before{
						background-position: -3px -409px;
					}
				}
				&.sea{
					&:before{
						background-position: -3px -447px;
					}
				}
				&.bus{
					&:before{
						background-position: -4px -482px;
					}
				}
				&.restaurant{
					&:before{
						background-position: -4px -514px;
					}
				}
				&.city-center{
					&:before{
						background-position:  -4px -556px;
					}
				}
				&.air-port{
					&:before{
						background-position:  -5px -600px;
					}
				}
				&.hospital{
					&:before{
						background-position:  -6px -640px;
					}
				}
			}		

		}
	}

	//footer
	//--rating, comments & price
	.__footer{
		div{
			float: left;
			position: relative;
			padding-left: 20px;
			.text{
				color: #119a11;
			    font-size: 12px;
			    font-weight: 700;
			    text-transform: uppercase;
			    transform: rotate(-90deg);
			    transform-origin: left bottom 0;
			    position: absolute;
			    bottom: 0;
			    left: 18px;
			}
			&.price{
				padding-left:0;
				@include media-breakpoint-up(sm){
					width: 50%;
					padding-left: 8px;
					margin-top:0;
				}
				span{
					color: $green;
					font-size: 32px;
					font-weight: 700;
					&.note{
						display: block;
						color: #333;
						font-size: 12px;
						font-weight: normal;
					}
				}
			}
		}
		.rating,
		.comments{
			width: 25%;
			
			.number{
				position: relative;
				display: inline-block;
				padding: 12px 14px;
				background: $green;
				color: #fff;
				font-size: 24px;
				&:after{
					content: "";
				    display: block;
				    width: 5px;
				    height: 7px;
				    position: absolute;
				    left: 0;
				    bottom: -6px;
				    background: url(../images/sprite.png) no-repeat -3px -124px;
				}
			}
		}
		.comments{
			.text{
				color: $yellow;
			}
			.number{
				background: $yellow;
				&:after{
					background-position: -43px -124px;
				}
			}
		}

	}
}


/**
 * Property Aminities
 *
 * 
 */
.listing-amenities{
	.listing_detail {
		padding: 8px 20px;
		border-bottom: 1px solid #ddd;
		/**&:nth-last-child(-n+3){
			border-bottom: none;
		}**/
	}
	.listing_detail i {
		color: #fff;
		background: green;
		width: 20px;
		height: 20px;
		text-align: center;
		line-height: 1.4;
		border-radius: 50%;
	}
}

/**
 * Listing Services
 */
#listing-services{
	//services
	ul{
		list-style-type: none;
		margin-left:-8px;
		margin-right:-8px;
		margin-bottom:4px;
		li{
			width: 33.333%;
			height: 100px;
			padding: 8px;
			float: left;
			text-align: center;
			.__inner{
				border: 1px solid #ddd;
				height: 100%;
				position: relative;
				p{
					position: absolute;
					bottom: 0px;
					width: 100%;
					font-size: 12px;
				}
				//for icons
				&:before{
					content:'';
					display:inline-block;
					width: 44px;
					height: 44px;
					margin-top: 8px;
					background-image: url('../images/sprite.png');
					background-repeat: no-repeat;
					background-position: -7px -685px;
				}
			}

			//icon variations
			&.water{
				.__inner{
					&:before{
						background-position: -6px -747px;
					}
				}
			}
			&.gas{
				.__inner{
					&:before{
						background-position: -7px -807px;
					}
				}
			}
			&.swimming-pool{
				.__inner{
					&:before{
						background-position: -6px -872px;
					}
				}
			}
			&.garden{
				.__inner{
					&:before{
						background-position: -5px -938px;
					}
				}
			}
			&.cleaning{
				.__inner{
					&:before{
						background-position: -6px -995px;
					}
				}
			}
		}
	}
}

/**
 * Listing Map
 */
#listing-map{
	#google_map_on_list{
		height: 316px;
	}
	.prop_pricex{
		color: #fff;
	}
}

/**
 * Listing Rates
 * and
 * Listing Booking
 */
#property-rates{
	.__footer{
		text-align: center;
	}
}



/**
 * Listing Reviews 
 * and
 * Listing Comments
 *
 *
 * 
 */
#listing-reviews{
	input.submit{
		background: $green;
	}
	.comment .blog_author_image{
		border-radius: 0;
	}
}

/**
 * Box bottom margin @mobileDevices
 */
#property-booking,
#listing-services{
	margin-top: 16px;
	@include media-breakpoint-up(sm){
		margin-top:0;
	}
}
#property-booking{
	&.box{
		h2{
			//margin-top:0;
		}
	}
	//
	.booking_form_request{
		border: none;
		margin:0;
		padding:0;
	}
}


/**
 * Box customization on 
 * Mobile devices
 */
.single-estate_property{

	.box{		
		@include media-breakpoint-down(sm){
			padding: 0;
			border: none;
			box-shadow: none;
			margin-bottom: 32px;
			background: transparent;
			overflow: hidden;
		}
	}
}