/**
 * Featured Properties
 *
 * Styles.
 */

.property-listing{
	margin-bottom: 2em;

	header{
		position: relative;

		//for shadow effect
		&:after{
			content : '';
			display: block;
			width: 100%;
			height: 55px;
			background-image: url('../images/bg-shadow.png');
			background-size: cover;

			position:absolute;
			left:0;
			bottom:0;
			z-index: 1;
		}
	}

	&__heading{
		position: absolute;
		left:0;
		bottom:0;

		z-index: 2;// to be on top of shadow

		width: 100%;
		padding-left: 3em;
		padding-bottom: 1em;

		//for location icon
		&:after{
			content: '';
			display: block;
			position: absolute;
			left: 20px;
			bottom:23px;
			background: url('../images/sprite.png') no-repeat -3px -3px;
			width: 18px;
			height: 27px;

		}

		h2,h3{
			margin-bottom:0;
			color: $white;

			a{
				color: #fff;
				&:hover{
					color: #fff;
					text-decoration: underline;
				}
			}
		}

		h3{
			font-size: 14px;
			font-weight: normal;
		}
	}
	//image
	&__image{
		img{
			width: 100%;
			height: auto;
		}
	}

	// Property Info
	&__property-info{
		padding: 1em;

		background: #fff;

    	border-width: 0 1px 1px 1px;
    	border-style: solid;
    	border-color: #ddd;
    	box-shadow: 2px 2px 1px #eee;
	}

	&__property-price{
		color: $green;

		span{
			display: block;
		}

		.amount{
			display: inline-block;
			color: $green;

			font-size: 24px;
			font-weight: bold;
		}
		.amount-ext{
			display: inline-block;
			color: $green;

			font-size: 12px;
		}

		.currency{
			display: inline-block;

			font-size: 12px;
		}

		.head{
			color: #333333;
		}
		.note{
			color: #909090;
			font-size: 10px;
		}
	}

	&__property-point{
		span{display: inline-block;}
		.text{
			color: $green;
			font-size: 12px;
			font-weight: bold;
			text-transform: uppercase;

			transform: rotate(-90deg);
			transform-origin: left bottom 0;

			position: absolute;
			bottom: 0;
		}
		.number{
			position: relative;
			width: 36px;
			height: 36px;
			padding-top: 8px;

			background: $green;
			font-weight: bold;
			text-align: center;
			color: $white;

			&:after{
				content: "";
				display: block;
				width: 5px;
				height: 7px;

				position: absolute;
				left:0;
				bottom: -6px;

				background: url('../images/sprite.png') no-repeat -3px -124px;
			}
		}
	}

	&__property-guests,
	&__property-bedrooms,
	&__property-bathrooms{
		width: 33.33%;
		float: left;
		padding: 0;

		text-align: center;	

		

		.inner{
			position: relative;

			margin: 0 2px;
			padding: 34px 0 7px 0;
			border: 1px solid #dcdcdc;
			background: #fafafa;

			&:hover{
				background: #f1f1f1;
			}
		}
	}

	&__property-guests{
		.inner{
			&:after{
				content: "";
				display: block;

				background: url('../images/sprite.png') no-repeat 6px -39px;
				width: 44px;
				height: 19px;

				position: absolute;
				top: 10px;
			}
		}
	}

	&__property-bedrooms{
		.inner{
			&:after{
				content: "";
				display: block;

				background: url('../images/sprite.png') no-repeat 6px -67px;
				width: 44px;
				height: 16px;

				position: absolute;
				top: 10px;
			}
		}
	}

	&__property-bathrooms{
		&:after{
			content: "";
			display: block;

			background: url('../images/sprite.png') no-repeat 6px -92px;
			width: 44px;
			height: 23px;

			position: absolute;
			top: 5px;
		}
	}
	
}
.property_menu_wrapper_hidden {
    display: none !important;
}




	