/**
 * Listing slider
 */
.listing-slider-container{
    margin-bottom: 16px;
    @include media-breakpoint-up(sm){
        padding-right:0;
        margin-bottom: 0;
    }

    .listing-slider{
        //buttons
        .slick-prev,
        .slick-next{
            &:before{
                font-size: 32px;
            }
        }
        .slick-prev{
            left: 4px;
            z-index: 3;
        }
        .slick-next{
            right: 16px;
        }
    }
}



/**
 * Nav Slider
 */
.listing-slider-nav-container{
    display: none;//hiding on mobile
    @include media-breakpoint-up(sm){
        display: block!important;//showing on bigger
    }
}
.listing-slider-nav{
	margin-top: 16px;

    &__slide{
        padding-right: 8px;
    }
}






/* under-box css */

table.table.table-striped {
    border: 1px solid #ddd;
    tbody tr td {
	    text-align: left;
	}
}
.property-booking {
    border: 1px solid #ddd;
    padding: 32px;
}
.listing-description {
    border: 1px solid #ddd;
    .__heading {
    	text-align: center;
	}
}
.listing-description, .property-booking {
    border: 1px solid #ddd;
    padding: 16px;
}
.border-background {
    border: 1px solid #ddd;
    padding: 16px;
}


