.term__header {
    border: 1px solid #ddd;
    padding:16px;
    background-color: #fff;
    box-shadow: 0px 3px 1px #ddd;
}
.term__description {
    padding-bottom: 32px;
}
.term__header{
	img{
		width: 100%;
    	height: auto;
    	background-color: #fff;
		
		@include media-breakpoint-up(sm){
			//md-to-big
            width: auto;
			float: right;
			padding: 16px;
			margin-top: -80px;
			border: 1px solid #ddd;
	    	background-color: #fff;
        }
	}
}



/**
 * Listing Filter Section
 */
.listing_filters_head{
    .label{
        text-align: left;
        margin:0;
        h3{            
            font-size: 14px;
            font-weight: 400!important;
            color: $green;
        }
    }
    input{
        background: transparent;
    }

    /**
     * Wprental issues with inputs
     */
    .listing_filter_select,
    .__check-in{
        margin-top: 48px;
        margin-bottom: 8px;

        @include media-breakpoint-up(sm){
            margin-top: 0;
        }
    }

    /**
     * Calender Icons
     */
    .calendar_icon{
        &:after{
            background-image: url('../images/calendar_icon.png');
        }
    }

    /**
     * Guests Numebr
     */
    .input-number--with-buttons{
        input{
            margin-right: 16px;
            border: none;
        }
    }

    /**
     * Radio buttons styled as checkbox
     */
    .aweb-custom-select{
        margin-left:0;
        margin-bottom:0;
    }
}
.listing_filters_head.row {
    padding: 32px 0;
    border: 1px solid #ddd;
    background-color: #fff;
    box-shadow: 0px 3px 1px #ddd;
    margin-top: 32px;
}
.section-text {
    text-align: center;
    padding: 32px 0;
    h2{
    color: #333;
    font-size: 24px;
    }
}

ul.aweb-custom-select li{ list-style: none; display: inline-block; margin: 0 8px; } ul.aweb-custom-select li label{ cursor: pointer; } ul.aweb-custom-select li label input[type="radio"] { vertical-align: text-bottom; }

.listing_filters_head .col-md-1, .listing_filters_head .col-md-2, .listing_filters_head .col-md-3, .listing_filters_head .col-md-4, #adv-search-1 .col-md-1, #adv-search-1 .col-md-2, #adv-search-1 .col-md-3, #adv-search-1 .col-md-4{
    padding-left: 15px;
    padding-right: 15px;
}
