/**
 * Different utility classes
 *
 * These classes provides specific styling
 * to support themes layout and design.
 */

html body .text--white{
	color: #fff;
}

.content-wrap{
	width: 100%;
    max-width: 1170px;
    margin: 0px auto;
}

/**
 * Responsive video
 */
.responsive-video-container {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.responsive-video-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}