/**
 * Featured Destinations
 *
 * Styles.
 */
.featured-destinations{
	&__destination{

		img{
			width: 100%;
			height: auto;
		}

		.__title{
			text-align: center;
			text-transform: uppercase;
		}

		.__description{
			position: relative;
			padding: 1em;

			background: #fff;

	    	border-width: 0 1px 1px 1px;
	    	border-style: solid;
	    	border-color: #ddd;
	    	box-shadow: 2px 2px 1px #eee;
		}

		.__read-more{
			margin-top: 16px;
			
			text-transform: uppercase;

			display: block;
			background: #00a849;
			color: #fff;

			font-size: 12px;
			font-weight: bold;
			text-align: center;

			border-radius: 20px;
		}

	}
		&__destination-inner{
			margin: 0 10px;
		}



	/**
	 * Dots
	 */
	.slick-dots{
		li{
			button:before{
				color: #8a8f9a;
				opacity: .5;
			}

			&.slick-active{
				button:before{
					font-size: 12px;
					color: #8a8f9a;
				}
			}
		}
	}


	/**
	 * Slider controls
	 */
	&__slider-controls{
		text-align: center;
		margin: 32px 0;

		a{
			display: inline-block;
			padding: 0 16px;
			margin: 0 32px;
			width: 43px;
			height: 18px;
			text-indent: -9999px;

			background-image: url('../images/sprite.png');
			background-repeat: no-repeat;
		}

		.prev{
			background-position: -3px -147px;

			&:hover{
				background-position: -4px -175px;
			}
		}
		.next{
			background-position: -5px -205px;

			&:hover{
				background-position: -3px -235px;
			}
		}
	}
}

/**
 *
 *
 *
 *
 *
 * 
 */
.featured-destinations__destination[data-slick-index="0"]{
	h3{
		color: $orange;
	}

	.__read-more{
		background: $orange;
	}
}

.featured-destinations__destination[data-slick-index="1"]{
	h3{
		color: $blue-alt;
	}

	.__read-more{
		background: $blue-alt;
	}
}

.featured-destinations__destination[data-slick-index="2"]{
	h3{
		color: $red;
	}

	.__read-more{
		background: $red;
	}
}
.featured-destinations__destination[data-slick-index="3"]{
	h3{
		color: $green-alt;
	}

	.__read-more{
		background: $green-alt;
	}
}