.villa-search{
	padding: 20px;
	background: #fff;
	border: 1px solid #eee;

	

	box-shadow: 2px 2px 12px #ebebeb;

    

    @include media-breakpoint-up(sm){
    	border-radius: 45px;
    }

	input{
		margin-bottom: 0;
		height: 36px;
		border: none;
	}

	input[type=text]{
		background-color: transparent;
	}

	.col--has-right-border{
		border-right: 1px solid #d2d2d2;
        @include media-breakpoint-down(md){
            border-right: none;
        }		
	}

	//suggestions
	.advanced-city-container{		
		position: relative;

		input{
			padding-left: 48px;
		}

		.advanced-city-suggestions{
			position: absolute;
			top: 58px;
			left: 14px;
			z-index: 10;
			width: 100%;

			padding-bottom: 32px;
			background-image: url(../images/search-suggestions-bg.png);
			background-repeat: no-repeat;
			background-size: contain;
			background-position: bottom left;

			@include media-breakpoint-down(md){
				top: 32px;
				padding-bottom:0;
			}

			.__inner-wrap{
				background-color: rgba(255, 255, 255, .9);
				padding: 16px 32px;
			}
				.__suggestion{
					display: block;
					padding-top: 8px;
					padding-bottom: 8px;
					border-bottom: 1px solid #d2d2d2;
					&:last-child{
						border-bottom: none;
					}
				}
					.__suggestion-location{
						width: 50%;
						float: left;
						.__name{							
							margin-bottom: 0;
							font-size: 12px;
							line-height: 12px;
							cursor: pointer;

							&:first-child{
								color: $green;
								font-size: 16px;
								font-weight: bold;
							}
						}
					}
					.__suggestion-villa-count{
						width: 50%;
						float: right;
						text-align: right;
						.btn{
							padding: 4px 16px;
							font-size: 12px;
							text-transform: none;

							border: 1px solid #d2d2d2;

							&:hover{
								background: $green;
								color: #fff;
							}
						}
					}

		}
	}




	//checkin and checkout
	.__check-in,
	.__check-out{
		position: relative;
		&:before{
			position: absolute;
			right:30px;
			top: 15px;

			content: '';
			width: 20px;
			height: 18px;
			background-image: none;
			@include media-breakpoint-up(sm){
				background:url('../images/sprite.png') no-repeat -3px -323px;
			}
			@include media-breakpoint-down(md){
				background: none;
			}
		}
	}
	.__check-out{
		&:before{
			background-position:-3px -344px;

			left:-27px;
		}

	}
	.checkout_sh{
		padding-left: 15px;
	}

	//submit
	input[type='submit']{
		font-size: 12px!important;
	}



	//form elements with icon
	.calendar_icon:after{
		top: 10px;
		background-image: url('../images/calendar_icon.png');
	}
	.map_icon:after{
		top: 10px;
		left:0;
		background-image: url('../images/icon_pin.png');
		@include media-breakpoint-up(sm){
			left:8px;
		}
	}
}


/**
 * Mobile device customization
 * for Villa Search or Villa Search
 *
 * - stripped all background 
 * - removes all styles
 * - reduces height
 */
#villa-search-container{
	@include media-breakpoint-down(md){
		padding-top:0!important;
		padding-bottom:0!important;
		margin-top: 26px;
	}

	.wpb_wrapper{
		@include media-breakpoint-down(md){
			margin: 0 -25px;
		}
	}

	.villa-search{
		@include media-breakpoint-down(md){
			border-radius:0;
			padding: 16px 0;
		}
		&__field{
			@include media-breakpoint-down(md){
				border-bottom: 1px solid #ddd;
    			padding: 16px 36px;
			}
			&:after{
				@include media-breakpoint-down(md){
					top: 24px;
					left: 36px;
				}
			}
		}
		label[for="guests"]{
			@include media-breakpoint-down(md){
				margin-left: 22px;
			}
		}
		&__submit{
			@include media-breakpoint-down(md){
				padding: 16px 36px;
			}
		}
	}
	.input-number--with-buttons .btn{
		&--plus{
			@include media-breakpoint-down(md){
				right: 32px;
			}
		}
		&--minus{
			@include media-breakpoint-down(md){
				right: 8px;
			}
		}
	}
	input[type='submit']{
		@include media-breakpoint-down(md){
			margin-top: 16px;
		}
	}
}