/**
 * Heading
 *
 * Styles.
 */
.heading{
	display: block;
	width: 100%;
	overflow: hidden;
	text-align: center;
	margin-bottom: 32px;

	&__title{
		font-size: 24px;

		color: #333333;
	}
	&__sub-title{

		color: #909090;

	}
}