/**
 * Featured Categories Styles
 *
 *
 *
 * 
 */
.featured-categories{
	text-align:center;

	&__category{
		display: inline-block;
		float: left;
		width: 50%;
		margin-bottom: 8px;		

		@include media-breakpoint-up(sm){
	    	width: 20%;
	    }

		.category-name{
			&:hover{
				color: $green;
			}
		}
	}
}

/**
 * Icons
 */
.featured-categories__category{
	&:hover{
		color: $green;
	}
	.icon{
		display: inline-block;
		text-align: center;
		width: 98px;
		height: 98px;
		border-radius: 100%;
		background-image: url('../images/icons-sprite.png');
		background-repeat: no-repeat;
		background-position: -5px -5px;

		//hover for all
		&:hover{
			background-color: $green;
		}

		//variations
		
		&--sun-sea{
			background-position: -5px -5px;
		}
		
		&--playing-boy{
			background-position: -4px -123px;
		}

		&--travel-bags{
			background-position: -4px -240px;			
		}

		&--home{
			background-position: -5px -362px;			
		}

		&--fence{
			background-position: -4px -483px;
			
		}
	}
}

/**
 * Smart hover effect
 */
.featured-categories__category:hover > h3{
	color: $green;
}
.featured-categories__category:hover > .icon{
	background-color: $green;
}

.featured-categories__category:hover > .icon{
	&--sun-sea{
		background-position: -116px -5px;
	}
	&--playing-boy{
		background-position: -117px -124px;
	}
	&--travel-bags{
		background-position: -117px -241px;
	}
	&--home{
		background-position: -118px -362px;
	}
	&--fence{
		background-position: -116px -484px;
	}
}

