/**
 * Wpestate Social Links Widget
 *
 *
 * 
 */
body #colophon .social_sidebar_internal a{
	display: inline-block;
	width: auto;
	height: auto;
	margin-right: 24px;

	background: none;

	&:hover{
		background: none;
	}


	#colophon .social_sidebar_internal i, 
	#primary .social_sidebar_internal i{
		font-size: 18px;
	}
}