/**
 * Icon Link Widget
 *
 *
 * 
 */
#access .menu .sub-menu .megamenu-widgets-container .icon-link{
	position: relative;
	display: block;
	width: 100%;
	text-align: left;
	padding: 1em 2em 1em 3em;
	border-bottom: 1px solid #d2d2d2;

	&:hover{
		color: $green!important;
		border-color: #d2d2d2!important;
	}


	/**
	 * Icon variations
	 */
	.icon{
		position: absolute;
		left: 0px;

		content : '';
		display: inline-block;
		width: 29px;
		height: 25px;

		background-image: url('../images/icons-sprite.png');
		background-repeat: no-repeat;
		background-position: -4px -725px;

		&--fence{
			background-position: -4px -601px;
		}
		&--home{
			background-position: -4px -629px;
		}
		&--travel-bags{
			width: 41px;
			background-position: -4px -661px;
		}
		&--boy{
			background-position: -4px -693px;
		}
		&--sun-sea{
			background-position: -4px -725px;
		}
	}
}